.academics-content {
	background-color: #f0ede5;
	height: 100%;
	color: #272317;
	padding-top: 11.5%;
}
.academics {
	text-align: center;
	padding: 1rem;
}
.academics-desc {
	padding: 2%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.academics-bullet {
	margin-bottom: 2%;
	margin-left: 15%;
	margin-right: 15%;
	box-shadow: 0px 0px 5px 0px #332e1e;
}
.academics-bullet h3 {
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #b3a77e;
}
.academics-bullet p {
	font-weight: normal;
	font-size: 15px;
	background-color: #d9d3bf;
	padding: 0.5rem 0.5rem;
}
