.extracurriculars-content {
	background-color: #f0ede5;
	height: 100%;
	color: #272317;
	padding-top: 11.5%;
}
.extracurriculars {
	text-align: center;
	padding: 1rem;
}
.extracurriculars-desc {
	padding: 2%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.extracurriculars-heading {
	margin: 2%, 10%, 2%, 10%;
	box-shadow: 0px 0px 5px 0px #332e1e;
}
.extracurriculars-bullet {
	margin-bottom: 2%;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 0px 0px 5px 0px #332e1e;
}
.extracurriculars-bullet h3 {
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #b3a77e;
}
.extracurriculars-bullet h2 {
	text-align: center;
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #b3a77e;
}
.extracurriculars-bullet p {
	font-weight: normal;
	font-style: oblique;
	font-size: 15px;
	background-color: #d9d3bf;
	padding: 0.5rem 0.5rem;
}
.extracurriculars-bullet h4 {
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #c3b998;
}
.sub-header {
	margin-top: 3%;
	margin-left: 12%;
}
.gallery-navbar {
	display: flex;
	gap: 3rem;
	font-size: large;
	text-decoration: underline;
}
.gallery-navbar a {
	color: rgb(4, 73, 73);
}
