.extracurriculars-content {
	background-color: #F0EDE5;
	height: 100%;
	color: #272317;
	padding-top: 11.5%;
}
.extracurriculars {
	text-align: center;
	padding: 1rem;
}
.extracurriculars-desc {
	padding: 2%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.extracurriculars-bullet {
	margin-bottom: 2%;
}
.extracurriculars-bullet h3 {
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #B3A77E;
}
.extracurriculars-bullet p {
	font-weight: normal;
	font-style: oblique;
	font-size: 15px;
	background-color: #D9D3BF;
	padding: 0.5rem 0.5rem;
}
.extracurriculars-bullet h4 {
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #C3B998;
}
