.projects-content {
	background-color: #f0ede5;
	height: 100%;
	color: #272317;
	padding-top: 11.5%;
	padding-left: 3rem;
	padding-right: 3rem;
}
.projects {
	text-align: center;
	padding-bottom: 2rem;
}
.projects-bullet {
	margin-bottom: 2%;
	margin-left: 8%;
	margin-right: 8%;
	box-shadow: 0px 0px 5px 0px #332e1e;
}
.projects-bullet h3 {
	font-weight: bold;
	padding: 0.5rem 0.5rem;
	background-color: #b3a77e;
}
.projects-bullet p {
	font-weight: normal;
	font-style: oblique;
	font-size: 15px;
	background-color: #d9d3bf;
	padding: 0.5rem 0.5rem;
}
.projects-desc {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	margin-left: 8%;
	margin-right: 8%;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.column-1 {
	width: 40%;
	text-align: center;
}
.column-2 {
	width: 60%;
	text-align: center;
}
.left-column {
	background-color: rgb(149, 149, 214);
	height: 200px;
}
.right-column {
	background-color: rgb(204, 240, 204);
	height: 200px;
}
.occupy-full-container {
	height: 100%;
	width: 100%;
}
