/* Add your styles here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-decoration: none;
	list-style: none;
}

/* Header styles */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2% 8%;
	background: #968859;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.header-name {
	font-size: 35px;
	color: #e8e5d8;
	font-weight: 600;
	transition: 0.3s ease;
	font-style: oblique;
}
.header-para {
	font-size: 15px;
	font-weight: 600;
	color: #272317;
	font-style: oblique;
}

/* Nav styles */
.navbar {
	display: flex;
	gap: 3rem;
}
.navbar a {
	text-decoration: none;
	font-size: 20px;
	color: #e8e5d8;
	font-weight: 500;
	transition: all .3s ease;
	display: inline-block;
	position: relative;
}
.navbar a:hover {
	color: #272317;
	font-size: 21px;
	transform: scale(1.05);
	z-index: 1;
}
a {
	cursor: pointer;
}
a:hover {
	opacity: 0.7;
}

/* Home content styles */
.home {
	width: 100%;
	min-height: 100vh;
	background: #e8e5d8;
	display: flex;
	align-items: center;
	gap: 7rem;
	padding: 10%;
}
.home-content {
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 0px #332e1e;
	margin-left: 6%;
	margin-top: 5%;
}
.home-content h1 {
	font-size: 35px;
	line-height: 1.2;
}
.desc-box1 {
	padding: 25px 35px;
	background-color: #d2cab2;
}
.desc-box1 a {
	text-decoration: underline;
	color: #272317;
}
.desc-box1 h3 {
	font-size: 25px;
	margin: 25px 15px;
}
.desc-box1 p {
	font-size: 18px;
	margin: 25px 15px;
	color: #272317;
}
.img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;
	background: #c3b998;
	padding: 0 5rem;
}
.img-box img {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
.img-caption {
	text-align: center;
	color: #272317;
	margin-bottom: 1rem;
	font-style: oblique;
}
.img-sub-caption {
	text-align: center;
	color: #272317;
	margin-bottom: 2rem;
	font-size: 15px;
	font-style: oblique;
}
.divider {
	width: 50px;
	height: 5px;
	background-color: #272317;
	margin-bottom: 1rem;
}

/* general styles */
::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background-color: #332e1e;
}
::-webkit-scrollbar-track {
	background-color: #e8e5d8;
	width: 50px;
}
